body {

font-family: Helvetica;
margin: 0;
}

#kontener {

display: flex;
flex-direction: row;

}



h2 {margin: 0;}

header, footer {

background-color: rgb(70, 130, 180);
color: white;
height: 30px;
text-align: center;
}

main {

background-color: rgb(176, 196, 222);
padding: 50px;
text-align: center;

}

#lewy {

    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 80%;


}

#prawy {

    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 20%;


}

main img {

padding: 3px;
border: dashed 1px blue;
border-radius: 10px;


}

#lewy img {

height: 40%;


}

#lewy img:hover {

border: solid white 1px;

}