#kontener { 

display: flex;
flex-direction: row;
}

body {

    font-family: Geogria;
    margin: 0;
}

header {

background-color: dodgerblue;
color: white;
padding: 10px;
text-align: center;
}

main {

background-color: lightblue;
padding: 100px;

}

#lewo {

background-color: dodgerblue;
color: white;
width: 20%;
height: 220px;


}

#srodek, #prawo {


background-color: dodgerblue;
color: white;
width: 40%;
height: 220px;
text-align: center;


}

a {

border: 1px dashed dimgray;
background-color: gold;
color: darkred;
padding: 10px;

}