

body, h1 {

font-family: Garamond;
margin: 0;

}

header {

    background-color: saddlebrown;
    color: white;
    text-align: center;
    height: 50px;
}

#lewy {

background-color: tan;
height: 500px;
width: 40%;
float: left;
}

#prawy, #prawy2 {


background-color: tan;
height: 250px;
width: 60%;
float: left;

}



footer {
clear: both;
background-color: saddlebrown;
color: white;

}

form {

background-color: saddlebrown;
color: white;
padding: 10px 30px 10px 30px;
width: 300px;

}

input {

margin: 5px;

}

p::before{
    content: "STATUS:  ";
}

/* nie wiem czy ma wyswietlac oba bledy jesli tak to ten kod nizej to naprawia

p{

    margin: 0;
}

*/